<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav class="header" id="navbar">
        <div class="button-container">
            <a href="/Home/Index" class="button">Home Page</a>
            <a href="/Favorites/Index" class="button">Favorites</a>
            <a href="/About/Index" class="button">About</a>
        </div>
    </nav>

    @RenderBody()

    <script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>