@{
    ViewData["Title"] = "About";
}
<header class="header">
    <h1 id="title">About Mood Music 🎵</h1>
</header>

<div class="description">
    <p>
        Mood Music is a web app that helps you discover new music based on how you're feeling.
        You can browse tracks by mood or search for artists and songs you enjoy.
        If you find a track you like, you can add it to your Favorites list for easy access later.
    </p>

</div>
